<section class="call-flow-container">
  <div class="flow-container" *ngFor="let node of this.nodeTree.getTree(); let j = index">

    <div class="subtree" *ngIf="node.hasSubTreeTop()">
      <div *ngFor="let subTreeNode of node.subTreeTop; let i = index">
        <app-call-flow-node 
          [isTreeNode]="false"
          [isTerminalNode]="i === node.subTreeTop.length - 1"
          [node]="subTreeNode">
        </app-call-flow-node>
      </div>
    </div>
    
    <div class="subtree" *ngIf="node.hasSubTreeBottom()">
      <div *ngFor="let subTreeNode of node.subTreeBottom; let i = index">
        <app-call-flow-node 
          [isTreeNode]="false"
          [isTerminalNode]="i === node.subTreeBottom.length - 1"
          [node]="subTreeNode">
        </app-call-flow-node>
      </div>
    </div>

    <div *ngIf="node.hasSubTreeTop() === false && node.hasSubTreeBottom() === false">
      <app-call-flow-node 
        [isTreeNode]="isTreeNode(j)"
        [isTerminalNode]="j === this.nodeTree.getTree().length - 1"
        [node]="node">
      </app-call-flow-node>
    </div>
  </div>
</section>
